





        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">		
		  <h3>About Spacefliks, The Space Entertainment Media Site.</h3>
		   

          <P>This site provides critical reviews and background information 
		  primarily on space-related entertainment media.</P>
		  <P>This site is neither affiliated nor endorsed by NASA, Amazon, Barnes and Noble, Netflix,
		  or any other firm or organization unless expressly stated.</P>
		  <P>Information on this site is not warranted to be accurate or true, nor should the 
		  material in works covered be assumed to be factual.  Users of this site use it at their own
		  risk.  Excessve exposure to movies about space aliens may produce undesirable affects
		  such as nausea and a fear of slime.</P>
		  <P>Users are not to place copyrighted materials or text on this site, including in the user
		  comment and review sections.</P>
		<P>&raquo; <%= link_to 'Back to main site ', works_path(:mediatype => ["Movie", "Television"]) %></P>

		  </div>
