        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">		
		  <H3>Blast off to fun and adventure with Spacefliks, the space entertainment media site.</H3>
		  <P>&raquo; <%= link_to 'Start browsing movie reviews and comments ', works_path(:mediatype => ["Movie", "Television"]) %></P>
        </div>
		  <CENTER>	
		 <a href="/"><img alt="human on moon photo" src="/assets/Ap11_Man_on_Moon_95_3467l.jpg" width="235" height="200" /></a>
		 <a href="/"><img alt="Avatar couple critique: Hollywood tends to make aliens appear humanform for romance stories." src="/assets/Avatar_couple.jpg" width="235" height="200" /></a>
         <a href="/"><img alt="Apollo launch photo" src="/assets/EL-2001-00482.jpeg" width="235" height="200" /></a>
		 </CENTER>
	 
     



